<%- include("../includes/header.ejs", {title:"Accounts - " + result[0].last_name}); %>
    <h1>Accounts</h1>
    <ul>
        <li>User: <%= result[0].last_name + ', ' + result[0].first_name %></li>
        <li>Email: <%= result[0].email %></li>
        <li>Skills:
            <ul>
                <% for(var i=0; skill.length > i; i++ ) { %>
                    <li><%= skill[i].skill_name %></li>
                <% } %>
            </ul>
        </li>
        <li>Schools:
            <ul>
                <% for(var i=0; school.length > i; i++ ) { %>
                <li><%= school[i].school_name %></li>
                <% } %>
            </ul>
        </li>
        <li>Work History:
            <ul>
                <% for(var i=0; company.length > i; i++ ) { %>
                <li><%= company[i].company_name %></li>
                <% } %>
            </ul>
        </li>
    </ul>

<a href="/account/all"><< back</a>

<%- include("../includes/footer.ejs"); %>